In [3]:
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Introduction to Spark")
    .master("local[*]")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/29 17:07:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/09/29 17:07:32 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark

In [5]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [6]:
emp =  spark.createDataFrame(data=emp_data, schema=emp_schema)

In [11]:
emp.show(5)

+-----------+-------------+----------+---+------+------+----------+
|employee_id|department_id|      name|age|gender|salary| hire_date|
+-----------+-------------+----------+---+------+------+----------+
|        001|          101|  John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102| Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102| Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103| Jack Chan| 40|  Male| 60000|2013-04-01|
+-----------+-------------+----------+---+------+------+----------+
only showing top 5 rows

In [35]:
emp.rdd.getNumPartitions()

4

In [19]:
emp.show(5)

+-----------+-------------+----------+---+------+------+----------+
|employee_id|department_id|      name|age|gender|salary| hire_date|
+-----------+-------------+----------+---+------+------+----------+
|        001|          101|  John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102| Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102| Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103| Jack Chan| 40|  Male| 60000|2013-04-01|
+-----------+-------------+----------+---+------+------+----------+
only showing top 5 rows

In [34]:
# Register DataFrame as a temporary view
emp.createOrReplaceTempView("employees")

# Run SQL queries
spark.sql("SELECT * FROM employees WHERE age > 30").show()
spark.sql("SELECT department_id, COUNT(*) as count FROM employees GROUP BY department_id").show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

+-------------+-----+
|department_id|count|
+-------------+-----+
|          101|    3|
|          102|    4|
|          103|    4|
|          104|    3|
|          107|    2|
|          106|    2|
|          105|    2|
+-------------+-----+

In [21]:
# These will show up in the SQL tab
emp.filter(emp.age > 30).groupBy("department_id").count().show()
emp.join(emp.alias("e2"), emp.department_id == emp.alias("e2").department_id).show()

+-------------+-----+
|department_id|count|
+-------------+-----+
|          102|    2|
|          103|    4|
|          101|    1|
|          104|    1|
|          106|    2|
|          105|    2|
+-------------+-----+

+-----------+-------------+-------------+---+------+------+----------+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
+-----------+-------------+-------------+---+------+------+----------+-----------+-------------+-------------+---+------+------+----------+
only showing top 20 rows

In [53]:
emp_filtered = emp.filter(emp.age > 30)

emp_filtered.write.format("csv").mode("overwrite").save("notebooks/pyspark-zero-to-hero-master/data/output/emp_filtered.csv")
emp_filtered.show(5)

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
+-----------+-------------+-------------+---+------+------+----------+
only showing top 5 rows